@page
@model DescarteSustentavel.Pages.SolicitacoesDescarteColeta.IndexModel

@{
    ViewData["Title"] = "Histórico de Descartes";
}

<link rel="stylesheet" href="~/css/historicoDeDescartes.css" />

<div class="flex-container-flex">

    <div class="flex-container">
        <div id="titulo_icon_botao">
            <h1 id="titulo_historico">
                <img src="/icons/historico_icon.svg" alt="icon_historico">
                Histórico de Descartes
            </h1>
            <a asp-page="Create" id="botao_nova_solicitacao" type="button" class="btn">
                <img src="~/icons/nova-solicitacao_icon.svg" alt="">
                <p>Nova Solicitação</p>
            </a>
        </div>

        <h1 class="label_reciclaveis_eletronicos">RECICLÁVEIS</h1>
        <div class="div_faixa">
            <span class="faixa_colorida"></span>
        </div>

        <div class="cardsGrid">
            @foreach (var item in Model.SolicitacaoDescarteColeta)
            {
                @if (item.TipoDoMaterial == "Reciclável")
                {
                    <div class="card">
                        <div class="card_cabecalho">
                            <h1 class="card_titulo">
                                @if (item.TipoDeSolicitacao == 'D')
                                {
                                    @Html.DisplayName("Descarte");
                                }
                                else
                                {
                                    @Html.DisplayName("Coleta")
                                }
                            </h1>
                            <span class="card_faixa_tipo faixa_reciclavel"></span>
                        </div>

                        <span class="card_status_solicitacao"></span>

                        <ul class="card_informacoes">
                            <li><b>Numero da Solicitação:</b>   @Html.DisplayFor(modelItem => item.SolicitacaoDescarteColetaID)</li>
                            <li><b>Ecoponto:</b>  @Html.DisplayFor(modelItem => item.IDDescartador) </li>
                            <span class="card_separador"></span>
                            <li><b>Data da Solicitação:</b> @Html.DisplayFor(modelItem => item.DataDaSolicitacao)</li>
                            <li><b>Qtde de Itens:</b> @Html.DisplayFor(modelItem => item.QtdeDeItens)</li>
                            <li><b>Status:</b> Em Andamento</li>
                            <li><b>Data de Encerramento:</b> @Html.DisplayFor(modelItem => item.DataDeEncerramento)</li>
                        </ul>
                    </div>
                }
            }
        </div>

        <h1 class="label_reciclaveis_eletronicos">ELETRÔNICOS</h1>
        <div class="div_faixa">
            <span class="faixa_colorida"></span>
        </div>

        <div class="cardsGrid">
            @foreach (var item in Model.SolicitacaoDescarteColeta)
            {
                @if (item.TipoDoMaterial == "Eletrônico")
                {
                    <div class="card">
                        <div class="card_cabecalho">
                            <h1 class="card_titulo">
                                @if (item.TipoDeSolicitacao == 'D')
                                {
                                    @Html.DisplayName("Descarte");
                                }
                                else
                                {
                                    @Html.DisplayName("Coleta")
                                }
                            </h1>
                            <span class="card_faixa_tipo faixa_eletronico"></span>
                        </div>

                        <span class="card_status_solicitacao"></span>

                        <ul class="card_informacoes">
                            <li><b>Numero da Solicitação:</b>   @Html.DisplayFor(modelItem => item.SolicitacaoDescarteColetaID)</li>
                            <li><b>Ecoponto:</b>  @Html.DisplayFor(modelItem => item.IDDescartador) </li>
                            <span class="card_separador"></span>
                            <li><b>Data da Solicitação:</b> @Html.DisplayFor(modelItem => item.DataDaSolicitacao)</li>
                            <li><b>Qtde de Itens:</b> @Html.DisplayFor(modelItem => item.QtdeDeItens)</li>
                            <li><b>Status:</b> Em Andamento</li>
                            <li><b>Data de Encerramento:</b> @Html.DisplayFor(modelItem => item.DataDeEncerramento)</li>
                        </ul>
                    </div>
                }
            }
        </div>
    </div>
</div>
