@page "{handler?}"
@model IndexModel
@{
    var r = new Random();
    var randomNumber = r.Next();
}
<link rel="stylesheet" href="~/css/site.css" />

<div class="action">
    <div class="profile" onclick="menuToggle();">
        <img src="img/profile_icon (1).svg">
    </div>
    <div class="menu">
        <div class="container mt-6">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-12" id="login">
                    <form method="post">
                        <!--Pagina de login começo-->
                        <div>
                            <h3>
                                <b>LOGIN</b><br>
                                <small>Por favor, faça seu login.</small>
                            </h3>
                        </div>
                        <input type="email" class="form-control" asp-for="Email" placeholder="Insira seu email ou CPF/CNPJ" />
                        <input type="password" class="form-control" asp-for="Senha" placeholder="Digite aqui sua senha" />
                        <span class="text-danger">@Html.ValidationMessage("CredenciaisErradas")</span>
                        <input type="submit" asp-page-handler="Logar" value="Login" class="btn  btn-primary"  id="class" />
                        <p class="link">
                            <a href="#" id="btnn"  onclick="mostrar('cadastro')">Não tem conta? Cadastre-se</a>
                        </p>
                    </form>
                </div>
                <!--Começo Cadastro-->
                <div class="col-md-12" id="cadastro"  style="display: none;">
                    <form id="cadastro" method="post">

                        <div id="cadastro-passo-1">
                            <div class="row">
                                @foreach (var tipoUser in Model.TipoDeUsuarios)
                                {
                                    <div class="col">

                                        <img src="img/@tipoUser.ToLower()_icon.svg">
                                        @tipoUser<input type="radio" asp-for="TipoDeUsuario" value="@tipoUser" />
                                    </div>
                                }
                            </div>
                            <p class="link">
                                <a href="#" id="nextBtn" onclick="wizardPasso('cadastro', 2)">Próximo</a>
                            </p>
                        </div>
                        <div id="cadastro-passo-2" style="display: none;">
                            <p>Nome completo</p>
                            <input class="form-control" asp-for="NomeCadastro" />
                            <p>Endereco</p>
                            <input class="form-control" asp-for="EnderecoCadastro" />
                            <p>Telefone</p>
                            <input class="form-control" asp-for="TelefoneCadastro" />
                            <p id="ecoponto-1" style="display: none;">CPF ou CNPJ</p>
                            <input class="form-control" id="ecoponto-2" asp-for="CpfOuCnpjCadastro" style="display: none;" />

                            <a href="#" class="btn  btn-primary" onclick="wizardPasso('cadastro', 3)">Próximo</a>
                        </div>
                        <div id="cadastro-passo-3" style="display: none;">

                            <p>Email</p>
                            <input type="email" class="form-control" asp-for="EmailCadastro" />
                            <span class="text-danger">@Html.ValidationMessage("EmailDuplicado")</span>
                            <p>Senha</p>
                            <input type="password" class="form-control" asp-for="SenhaCadastro" />
                            <span class="text-danger">@Html.ValidationMessage("DadosErrados")</span>
                            <input type="submit" class="btn  btn-primary" asp-page-handler="Cadastrar" value="Cadastrar" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/js/login.js?nocache=@randomNumber"></script>